/wp-content/plugins/wp-statistics
wp-config.php
.htaccess
wp-content/advanced-cache.php
sitemap.xml
*.log
wp-content/cache/
wp-content/uploads/
wp-content/backups/
forum/cache
wp-content/wp-cache-config.php
forum/config.php
wp-content/blogs.dir/
wp-content/upgrade/
.DS_Store
sitemap.xml.gz
wp-content/backup-db/