wp-config.php
.htaccess
forum/cache
wp-content/advanced-cache.php
wp-content/backups/
*.log
wp-content/cache/
wp-content/uploads/
sitemap.xml
wp-content/backup-db/
forum/config.php
wp-content/blogs.dir/
wp-content/upgrade/
.DS_Store
sitemap.xml.gz
wp-content/wp-cache-config.php